*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 20, 20);
}

#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* styling of welcome screen start */
#welcome-screen-section{
    /* background-color: aqua; */
    width: 40%;
    height: 70vh;
}

header{
    /* background-color: red; */
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 3rem;
    color: rgb(209, 70, 6);
}

#player-options-section{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* display: none; */
}

#player-options-section button{
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 15px;
    outline: none;
    border: 1px solid black;
}

#player-options-section button:hover{
    background-color: white;
    color: rgb(180, 59, 2);
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(136, 132, 132);
}

/* game instructions area styling begins */
#instructions-section{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    display: none;
}

#instructions-section h1{
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
}

#instructions-section ul li{
    list-style-type: circle;
    margin-bottom: 20px;
    color: white;
}

#instructions-section button{
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 15px;
    outline: none;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 15px;
    /* background-color: black; */
    /* color: white; */
}

#instructions-section button:hover{
    cursor: pointer;
    background-color:white;
    color: rgb(180, 59, 2);
    box-shadow: 1px 1px 10px rgb(136, 132, 132);
}

/* player name selection section styling starts  */
#player-name-selection-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    display: none;
}

#player-name-selection-section div:nth-child(1n) p,h3{
    color: white;
}

#player-name-selection-section div:nth-child(2n){
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between
}

#player-name-selection-section div:nth-child(2n) p{
    color: white; 
    border: 1px  solid rgb(27, 20, 20);
    padding: 5px;
    margin-right: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 0.2;
}

#player-name-selection-section div:nth-child(2n) p:hover{
    cursor: pointer;
    border-bottom: 1px dotted rgb(209, 70, 6);
    border-top: 1px dotted rgb(209, 70, 6);
    opacity: 1;
}

#player-name-selection-section div:nth-child(3n) button{
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 15px 40px 15px 40px;
    outline: none;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 15px;
}

#player-name-selection-section div:nth-child(3n) button:hover{
    background-color: white;
    color:  rgb(180, 59, 2);
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(136, 132, 132);
}

/* footer styling starts */
footer p{
    opacity: 0.5;
    color: white;
}

footer a{
    color: tomato;
}

footer p:hover{
    opacity: 1;
}


/* responsive for phone screens */
@media screen and (min-width:320px) and (max-width:425px){
    header h1{
        font-size: 1.9rem;
    }


    /* styling of welcome screen start */
    #welcome-screen-section{
        width: 100%;
        height: 90vh;
        padding: 10px;
    }
    

    #instructions-section ul li{
        list-style-type: circle;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    #instructions-section h1{
        margin-bottom: 5px;
        color: rgb(180, 59, 2);
    }
}

/* responsive for tablet screens */
@media screen and (min-width:425px) and (max-width:768px){
    /* header h1{
        font-size: 1.9rem;
    } */


    /* styling of welcome screen start */
    #welcome-screen-section{
        width: 70%;
        height: 85vh;
    }
    
/* 
    #instructions-section ul li{
        list-style-type: circle;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    #instructions-section h1{
        margin-bottom: 5px;
        color: rgb(180, 59, 2);
    } */
}